useDynLib(AHRITREC, .registration = TRUE)

export(tre_load)
export(version)
export(sha256_file_hex)
export(verify_sha256_file)
export(parse_flavour)
export(map_sql_type_to_tre)
export(extract_table_from_sql)
export(parse_in_list_values_json)
export(parse_in_list_values)
export(parse_check_constraint_values_json)
export(parse_check_constraint_values)
export(map_value_type)
export(parse_redcap_choices_json)
export(parse_redcap_choices)
export(strip_html)
export(infer_label_from_field_name)
export(get_redcap_choices_for_field_json)
export(get_redcap_choices_for_field)
