useDynLib(AHRITREC, .registration = TRUE)

export(ahri_tre_load)
export(ahri_tre_version)
export(ahri_tre_sha256_file_hex)
export(ahri_tre_verify_sha256_file)
export(ahri_tre_parse_flavour)
export(ahri_tre_map_sql_type_to_tre)
export(ahri_tre_extract_table_from_sql)
export(ahri_tre_parse_in_list_values_json)
export(parse_in_list_values)
export(ahri_tre_parse_check_constraint_values_json)
export(parse_check_constraint_values)
export(ahri_tre_map_redcap_value_type)
export(map_value_type)
export(ahri_tre_parse_redcap_choices_json)
export(parse_redcap_choices)
export(ahri_tre_strip_html)
export(ahri_tre_infer_label_from_field_name)
export(ahri_tre_get_redcap_choices_for_field_json)
export(get_redcap_choices_for_field)
